$body-bg:#F8F8F8 !default;

/* Fonts settings */
$body-font-family: 'poppins', sans-serif;
$heading-font-family: 'poppins', sans-serif;

/* Colors */

// $bg-color: #C5281C;
// $white-color: #ffffff;
// $primary-color: #6B7280;
// $primary-bg: #e5e7eb;

$bg-color: #41056d;
$cta-color: #d124b8;
$secondary-bg-color: #c5281c;
$white-color: #ffffff;
$primary-color: #6b7280;
$primary-bg: #e5e7eb;
$green-color: #00ac11;
$text-color: #0F172A;
$secondary-text-color:#334155;
$email-color: #475569;
$black: #000000;
$active-color: #166534;
$boxshadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);